@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: Raleway, sans-serif;
    background-color: #e4e4e4;
    overflow-x: hidden;
}

/* Шапка сайта */
.header {
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Логотип слева */
.logo a {
    color: rgb(34, 34, 34);
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    font-weight: bold;
}

/* Центровка навигационных ссылок */
.nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-center a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: all 0.5s;
}

.nav-center a:hover {
    font-weight: 700;
}

/* Правосторонние элементы (Вход/Регистрация и Личный кабинет) */
.nav-right {
    display: flex;
}

.nav-right a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: all 0.5s;
}

.nav-right a:hover {
    font-weight: 700;
}

.chat-app {
    display: flex;
    height: 100vh;
    margin: 20px auto;
}

/* Боковая панель с чатами */
.chat-sidebar {
    width: 30%;
    background-color: #f5f5f5;
    padding: 20px;
    border-right: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 30px;
}

.chat-sidebar__title {
    font-size: 20px;
    margin-bottom: 20px;
}

.chat-sidebar__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Карточка товара в списке чатов */
.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.chat-item:hover{
    transform: scale(1.02);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.123);
}

.active{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-item__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-item__details {
    flex-grow: 1;
    margin-left: 10px;
}

.chat-item__name {
    font-size: 16px;
}

.chat-item__message-icon {
    background: none;
    border: none;
    cursor: pointer;
}

/* Окно чата */
.chat-window {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    margin: 0 30px 0 0;
}

.chat-window__header {
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-window__title {
    font-size: 18px;
}

.chat-window__messages {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.chat-message {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.103);
}

.chat-message p{
    margin: auto 0;
}

.chat-item__image_chat {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
    border-radius: 50%;
}

.chat-message--received {
    background-color: #f1f1f1;
    align-self:center;
}

.chat-message--sent {
    background-color: #e0ffe0;
    align-self: flex-end;
}

.chat-window__input {
    display: flex;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.chat-window__text-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
}


.chat-window__text-input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 400ms ease-in-out;
  }
  
  .chat-window__text-input:focus {
    background-color: white;
    transform: scale(1.01);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }

  .btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #e4e4e4;
  background-image: none;
  color: #212121;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0 20px;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 14px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #212121;
  color: #e4e4e4;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.5s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.5s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.4s;
}
