@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: Raleway, sans-serif;
    background-color: #e4e4e4;
    overflow-x: hidden;
}

/* Шапка сайта */
.header {
    padding: 20px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Логотип слева */
.logo a {
    color: rgb(34, 34, 34);
    font-size: 24px;
    font-weight: 800;
    text-decoration: none;
    font-weight: bold;
}

/* Центровка навигационных ссылок */
.nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-center a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
    transition: all 0.5s;
}

.nav-center a:hover {
    font-weight: 700;
}

/* Правосторонние элементы (Вход/Регистрация и Личный кабинет) */
.nav-right {
    display: flex;
}

.nav-right a {
    color: rgb(34, 34, 34);
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    transition: all 0.5s;
}

.nav-right a:hover {
    font-weight: 700;
}

.recommendations {
    padding: 20px;
    margin: 20px 60px;
}

.recommendations__title {
    font-size: 52px;
    margin-bottom: 60px;
}

/* Стили для списка товаров */
.recommendations__list {
    display: flex;
    flex-wrap: wrap;
    gap: 90px;
    justify-content: flex-start;
}

/* Стили карточки товара */
.product-card {
    width: calc(100% / 5 - 20px);
    background-color: #fff;
    border-radius: 15px;

    width: calc(100% / 6 - 20px); /* 6 карточек по горизонтали */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Roboto, sans-serif;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

/* Картинка товара */
.product-card__image {
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 10px;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.336);
}

.card h2 {
    padding: 15px 15px 10px 15px;
    font-size: 19px;
    font-weight: 500;
    color: rgb(255, 208, 0);
    padding-top: 0px;
    text-shadow: rgba(255, 204, 0, 0.61) 1px 0 30px;
}

.price {
    padding: 0 0 0 15px;
    font-weight: bold;
}

.location {
    padding: 0 0 15px 15px;
    color: #777;
    font-size: 0.9em;
}

/* Адаптив для маленьких экранов */
@media (max-width: 1200px) {
    .product-card {
        width: calc(100% / 4 - 20px); /* 4 карточки в ряд на экранах до 1200px */
    }
}

@media (max-width: 768px) {
    .product-card {
        width: calc(100% / 2 - 20px); /* 2 карточки в ряд на экранах до 768px */
    }
}

@media (max-width: 480px) {
    .product-card {
        width: 100%; /* 1 карточка в ряд на экранах до 480px */
    }
}